{% load crispy_forms_tags %}
{% block content %}

{% include 'main.html' %}
    <div class="container">
        <i><h5>Cadastro de Empresa</h5></i>
        <form method="POST">

            {% csrf_token %}
            
            <div class="row">
                <div class="col">
                    {{ form.codigo|as_crispy_field }}
                </div>                
            </div>

            <br>

            <div class="row">
                <div class="col">
                    {{ form.nome|as_crispy_field }}
                </div>
            </div>
            
            <br>

            <div class="row">
                <div class="col">                    
                    {{ form.situacao|as_crispy_field }}
                </div>
            </div>
            
            <br>
            <input class="btn btn-primary" type="submit" value="Cadastrar">
            <a class="btn btn-danger" href="{% url 'empresa_list' %}">Cancelar</a>
        </form>
    </div>

{% endblock %}