{% include 'main.html' %}
{% load static %}


{% block content %}

<div class="container">

    <div class="jumbotron">
        
        <h1 class="display-4">Importar Escala</h1>


        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %} 
            
            <input class="btn btn-secondary" name="myfile" type="file"/>
            <button class="btn btn-primary" type="submit">Upload</button>
            <br>    
            
        </form>

        <br>
        <br>
        <!-- <a href="{% static 'media/teste.xlsx' %}">Download - Modelo</a>-->
        <a class="btn btn-warning" href="{% url 'escala_modelo' %}">Download - Modelo</a>

        

        
         
        
        
                 
        
    </div>
</div>
{% endblock%}