{% block content %}

{% include 'main.html' %}
    <div class="container">
        <i><h5>Deletar Escala</h5></i>

        <h4> Deseja deletar Lançamento ? </h4>
        <form method="POST">

            {% csrf_token %}

        <hr>
        
        <ul>
            <div class="row">
                 
                <div class="col">
                    <b>Prestador: </b>
                </div>                
                <div class="col-10">
                    {{object.prestador }}

                </div>                
            </div>

            <div class="row">
                <div class="col">
                    <b>Multi Empresa: </b>
                </div>                
                <div class="col-10">
                    {{ object.empresa_multi }}
                </div>                
            </div>
            
            <div class="row">
                <div class="col">
                    <b>Data Produção: </b>
                </div>                
                <div class="col-10">
                    {{ object.data_producao|date:'d/m/Y' }}
                </div>                
            </div>
            
            <div class="row">
                <div class="col">
                    <b>Data Pagamento: </b>
                </div>                
                <div class="col-10">
                    {{ object.data_pagamento|date:'d/m/Y'}}
                </div>                
            </div>
            
            <div class="row">
                <div class="col">
                    <b>Quantidade: </b>
                </div>                
                <div class="col-10">
                    {{ object.quantidade }}
                </div>                
            </div>
            
            <div class="row">
                <div class="col">
                    <b>Valor: </b>
                </div>                
                <div class="col-10">
                    {{ object.valor }}
                </div>                
            </div>
            
            
            <div class="row">
                <div class="col">
                    <b>Escala: </b>
                </div>                
                <div class="col-10">
                    {{ object.escala }}
                </div>                
            </div>

            <div class="row">
                <div class="col">
                    <b>Porta: </b>
                </div>                
                <div class="col-10">
                    {{ object.porta }}
                </div>                
            </div>
            
            <div class="row">
                <div class="col">
                    <b>Convênio: </b>
                </div>                
                <div class="col-10">
                    {{ object.convenio }}
                </div>                
            </div>

            <div class="row">
                <div class="col">
                    <b>Especialidade: </b>
                </div>                
                <div class="col-10">
                    {{ object.especialidade }}
                </div>                
            </div>

            <div class="row">
                <div class="col">
                    <b>Serviço: </b>
                </div>                
                <div class="col-10">
                    {{ object.servico }}
                </div>                
            </div>
            
            <div class="row">
                <div class="col">
                    <b>Procedimento: </b>
                </div>                
                <div class="col-10">
                    {{ object.procedimento_sus }}
                </div>                
            </div>
            
            <hr>

            
        </ul>



        <div class="row">
            <div class="col">
                <input class="btn btn-primary" type="submit" value="Deletar">
                <a class="btn btn-danger" href="{% url 'escala_list' %}">Cancelar</a>
            </div>
            
        </div>
        
                    

        </form>
    </div>

{% endblock %}