#barra{ 

    background-color: rgb(121,174,200); 
    color: #fff;
    padding: 20px;
    font-family:  Helvetica;
    
}
#branco{
    
    color: #fff;
    font-family:  Helvetica;

}


h5{
    padding-bottom: 10px;
    font-family: Helvetica;
  
}



.nav{
    
    margin-bottom: 25px;
    padding-bottom: 20px;

}


/* login */

.auth-card {
    margin-bottom: 30px;
}
